<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30">
  <div class="row">
    <div class="col-sm-12 pt-20"> 
      <p class="text-right">CDSoft Application. Co © 2019. All RIGHT RESERVED.</p>
    </div>
  </div>
</footer>
<!-- /Footer -->