

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/backend/dashboard">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title"><%= __('Tổng quan') %></span>
      </a>
    </li>
    <li
      class="nav-item ">
      <a class="nav-link" href="/backend/item">
        <i class="mdi mdi-briefcase menu-icon"></i>
        <span class="menu-title"><%= __('Sản phẩm') %></span>
      </a>
    </li>
    <li
      class="nav-item ">
      <a class="nav-link" href="/backend/dashboard">
        <i class="mdi mdi-basket menu-icon"></i>
        <span class="menu-title"><%= __('Bán hàng') %></span>
      </a>
    </li>
    <li
      class="nav-item ">
      <a class="nav-link" href="/backend/dashboard">
        <i class="mdi mdi-signal menu-icon"></i>
        <span class="menu-title"><%= __('Doanh số') %></span>
      </a>
    </li>
  </ul>
</nav>
